<ion-header>

  <ion-navbar color="primary">
    <ion-title>Palpites</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="selectDefault" (ionChange)="palpitesRodada()">
          <ion-label>Escolha a rodada...</ion-label>
          <ion-option *ngFor="let option of rodadas$ | async" [disabled]="option.prev>dateNow">{{ option.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <form #form="ngForm" (ngSubmit)="onSubmit()">

    <ion-card *ngFor="let palpite of palpites$ | async">
      <ion-grid [id]="palpite.codConfronto">
        <ion-row>
          <ion-col text-center [id]="palpite.codRodada">{{ palpite.data }} {{ palpite.hora }}</ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <img [src]="palpite.logoMandante" />
            <ion-label text-center>{{ palpite.timeMandante }}</ion-label>
          </ion-col>
          <ion-col text-center col-2>
            <input class="ipt-gol" text-center type="text" [value]="palpite.palpiteMandante" [id]="palpite.slugMandante" required pattern="^[0-9]"
              autocomplete="off" [disabled]="palpite.dataFechamento<=dateHoje">
          </ion-col>
          <ion-col text-center col-1>X</ion-col>
          <ion-col text-center col-2>
            <input class="ipt-gol" text-center type="text" [value]="palpite.palpiteVisitante" [id]="palpite.slugVisitante" required pattern="^[0-9]"
              autocomplete="off" [disabled]="palpite.dataFechamento<=dateHoje" #dataFechamento>
          </ion-col>
          <ion-col>
            <img [src]="palpite.logoVisitante" />
            <ion-label text-center>{{ palpite.timeVisitante }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-icon name="checkmark-circle" color="success" *ngIf="palpite.saved"></ion-icon>
      </ion-grid>
    </ion-card>

    <div padding>
      <button ion-button full large type="submit" [disabled]="dataFechamento">Gravar</button>
    </div>{{dataFechamento}}

  </form>

</ion-content>
