<ion-header>
  <ion-navbar color="primary">
    <ion-title>Palpites</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Escolha a rodada..." (ionChange)="matchDayGuesses()">
          <ion-option *ngFor="let round of rounds" (ionSelect)="setRound(round)">{{ round.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-card *ngFor="let game of games" [color]="game.score?.home != null && game.score?.away != null ? 'light' : ''">
      <ion-grid [id]="game.id">
        <ion-row>
          <ion-col text-center [id]="game.matchDay">{{ game.utcDate }}</ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <img [src]="game.homeTeam.crest" />
            <ion-label text-center>{{ game.homeTeam.shortName }}</ion-label>
          </ion-col>
          <ion-col text-center col-2>
            <input class="ipt-gol" text-center type="text" [value]="game.score?.home" [id]="game.homeTeam.id" required pattern="^[0-9]"
              autocomplete="off" [disabled]="blocked">
          </ion-col>
          <ion-col text-center col-1>X</ion-col>
          <ion-col text-center col-2>
            <input class="ipt-gol" text-center type="text" [value]="game.score?.away" [id]="game.awayTeam.id" required pattern="^[0-9]"
              autocomplete="off" [disabled]="blocked">
          </ion-col>
          <ion-col>
            <img [src]="game.awayTeam.crest" />
            <ion-label text-center>{{ game.awayTeam.shortName }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div padding>
      <button ion-button full large type="submit" [disabled]="blocked">Gravar</button>
    </div>
  </form>
</ion-content>
